{% extends "base.html" %}
{% block app_content %}
{% if current_user.is_authenticated %}
<div class="row">
  <div class="col-sm-6">
    <h1>Hi, {{ current_user.username }}</h1>
    <a href="{{ url_for( 'book.add_book' )}}">Add Book Review</a>
  </div>
</div>


<div>
  <h3>Recent Post:</h3>
  {% for book in books %}
  <hr>
    <div class="">
      <h5>{{ book.emails }}</h5>
      <p>{{ book.phone }}</p>
      <p>{{ book.technician }}</p>
      <!--<p>{{ book.rating }}</p>-->
    </div>
    <hr>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
